
  <!DOCTYPE HTML>
<html lang="en">
<head>

	<link rel="stylesheet" href="assets/css/css.css" />
	<link rel="icon" type="image/png" href="favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine|Rancho|Source+Sans+Pro:900&effect=3d|3d-float|neon|" />
<title>kyle computer</title>
</head>
<body>
<div class="first"><div class="name">

<em>Kyle . Computer</em></div>
<div class="intro" >
I am a <span class="blink font-effect-neon">software</span> engineer and triathlete.
</div>

  
</div>
<br />
	
	<div class="intro"> <br><a href="https://bsky.app/profile/kyle.computer">BlueSky</a><br/><br><a href="https://github.com/kylesethgray">github</a><br/>
		<!-- <a href="https://about.me/kylegray">about</a> -->
</div>
</div>
</body>
</html>
