<!DOCTYPE HTML>
<html lang="en">
<head>
<title>kyle seth gray</title>
</head>
<body>
<div class="intro" style="color:fff; font-size:4em; font-family:monospace">
<em>Kyle Seth Gray</em></div>
<div class="bio" style="color:fff; font-size:3em;
padding-top:1em;
margin-top:10%;">
I am a <span class="blink font-effect-neon" style="color:39FF14; font-size:2em">software</span> engineer and technology enthusiast
</div>

</div>
<br />
<!-- hitwebcounter Code START -->
                                        <!-- hitwebcounter.com -->
</body>
</html>
