
  <!DOCTYPE HTML>
<html lang="en">
<head>

	<link rel="stylesheet" href="assets/css/css.css" />
	<link rel="icon" type="image/png" href="favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine|Rancho|Source+Sans+Pro:900&effect=3d|3d-float|neon|" />
<title>kyle computer</title>
</head>
<body>
<div class="first"><div class="intro">

<em>Kyle Seth Gray</em></div>
<div class="intro" >
I am a <span class="blink font-effect-neon">software</span> engineer and triathlete.
</div>

  
</div>
<br />
</div>
<!-- nothing to see here -->
</body>
</html>
